.Card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(var(--color-secondary),var(--color-primary));
    width: 100px;
    height: 180px;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--color-font);
}
.Card-container:hover{
    transform: scale(1.1);
}
.Card-container img{
    height: 100px;
    width: 100px;
}
.Card-title{
    font-weight: 600;
    text-align: center;
}