.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 20px;
}
.footer-container .footer-title{
    font-size: 20px;
}