.header-container{
    display: flex;
    justify-content: left;
    gap: 20px;
    background-color: var(--color-header);
    padding :25px;
}
.header-title{
    color: var(--color-font-header);
    font-size: 36px;
    font-weight: 700;
}
.header-container img{
    height: 36px;
    width: 36px;
}