.app-container{
    display: flex;
    flex-direction: column;
}
.container{
    height:90.1vh;
    width: 100vw;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}